<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Category: delete</title>
  </head>
  <body>
    <%- include('../nav'); -%>
    <h2>Delete category <%= category.id %></h2>
    <%- include("../errors.ejs") %>
    <form action="/category/<%= category.id %>/delete" method="POST">
      <label for="pass">Password: </label>
      <input type="password" id="pass" name="pass" />

      <button type="submit">Delete</button>
    </form>
  </body>
</html>
