<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/nav.css" />
    <title>Category: form</title>
  </head>
  <body>
    <%- include('../nav'); -%>
    <h2>Category form</h2>
    <%- include("../errors.ejs") %>
    <form
      action="<%= category ? '/category/' + category.id + '/update' : '/category/create' %>"
      method="POST"
    >
      <label for="name">Category: </label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= category?.name || '' %>"
      />

      <label for="pass">Password: </label>
      <input type="password" id="pass" name="pass" />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
