h2 {
  padding: 32px;
  font-size: 32px;
  text-align: center;
}

main > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 16px;
  padding-bottom: 32px;
  color: rgb(48, 48, 48);
}

.item-card,
.category-card {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

button {
  border: none;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}

.del {
  background-color: rgb(216, 0, 0);
  color: white;
}

.edit {
  background-color: rgb(0, 123, 194);
  color: white;
}

.view {
  border: 1px solid rgb(0, 123, 194);
  color: rgb(0, 123, 194);
  background-color: white;
  padding: 4px 8px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px;
}

.add {
  font-size: 14px;
  color: white;
  background-color: rgb(0, 146, 19);
  padding: 8px;
  margin-bottom: 32px;
}

@media (max-width: 1100px) {
  main > div {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 706px) {
  main > div {
    grid-template-columns: 1fr;
  }
}
